form{
    width: 75%;
    height: 50px;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    input{
        width: 70%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        box-sizing: border-box;
        padding-left: 15px;
        border: none;
        font-size: 1.1rem;
    }
    button{
        width: 30%;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background: #20AB50;
        border: none;
        color: #fff;
        font-size: 1.25rem;
        cursor: pointer;
    }
}